# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
dist/
*.egg-info/

# Environment Variables & Secrets
.env
.env.*
*.pem
aws_credentials.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data & Logs (Don't commit raw data or massive logs)
data/
logs/
*.csv
*.parquet
